.card {
    position: absolute;
    width: 80%;
    max-width: 800px;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);

    &__info {
        position: absolute;
        font-size: 40px;
    }

    &__title {
        position: absolute;
        font-size: 100px;
    }
}