.artMB {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'CodeNext';

    & .text {
        padding: 40px;
    }

    .autor {
        font-size: 30px;
        color: $green;
    }

    .title {
        font-size: 55px;
    }

    .imgMB {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            align-self: center;
            width: auto;
            height: 100%;
        }
    }
}