@import './config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

@import "./components/section";
@import "./components/video";
@import "./components/swiper";
@import "./components/card";