@font-face {
  font-family: "SuisseInt";
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.svg") format("svg"); /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.svg") format("svg"); /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.svg") format("svg"); /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.svg") format("svg"); /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.svg") format("svg"); /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.svg") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}
section:nth-of-type(even) {
  color: white;
  background: black;
}
section:nth-of-type(odd) {
  color: black;
  background: white;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  width: 80%;
  max-width: 800px;
  height: 80%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.card__info {
  position: absolute;
  font-size: 40px;
}
.card__title {
  position: absolute;
  font-size: 100px;
}/*# sourceMappingURL=main.css.map */