@font-face {
  font-family: "SuisseInt";
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Inconstant";
  /* IE9 Compat Modes */
  src: url("../fonts/Inconstant-Regular/Inconstant-Base25.woff2") format("woff2"), url("../fonts/Inconstant-Regular/Inconstant-Base25.woff") format("woff"), url("../fonts/Inconstant-Regular/InconstantVF.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}
section:nth-of-type(odd) {
  color: white;
  background: black;
}
section:nth-of-type(even) {
  color: black;
  background: white;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.test {
  background: rgb(255, 255, 255);
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png") 39 39, auto;
}

.test > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconstant";
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.card {
  padding: 5px;
  width: 500px;
  height: 500px;
  will-change: transform;
}
.card__title {
  font-size: 3em;
}
.card__text {
  font-size: 1em;
}
.card__text--intro {
  font-size: 2em;
}
.card .v1 {
  max-width: 250px;
}
.card .v2 {
  float: right;
  text-align: end;
  max-width: 300px;
}
.card .v3 {
  margin-top: 200px;
}
.card .v4 {
  text-align: end;
}
.card .v5 {
  max-width: 250px;
  margin-left: 125px;
}
.card .v6 {
  margin-top: 300px;
  text-align: end;
}

.vertical {
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
}

.horizontal {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
}

.imgTest {
  width: 100%;
  height: auto;
}

.p1 {
  top: -20px;
  left: -300px;
}

.p2 {
  top: -20px;
  right: -300px;
}

.p3 {
  top: 0px;
  right: -330px;
}

.p4 {
  top: -50px;
  left: -350px;
}

.p5 {
  top: 0px;
  left: -300px;
}

.p6 {
  top: 50px;
  right: -300px;
}

.p7 {
  top: -40px;
  left: -250px;
}

.p8 {
  top: 270px;
  right: -270px;
}

.p9 {
  top: -50px;
  right: -250px;
}

.p10 {
  top: 250px;
  right: -350px;
}

.introTextVid {
  position: relative;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SuisseInt";
  font-size: 16vw;
  font-weight: 900;
  letter-spacing: -100px;
  line-height: 300px;
  mix-blend-mode: multiply;
  text-align: start;
}/*# sourceMappingURL=main.css.map */