@font-face {
  font-family: "SuisseInt";
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebS.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Thin-Web/SuisseIntlMono-Thin-WebXL.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebS.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Regular-Web/SuisseIntlMono-Regular-WebXL.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.woff") format("woff"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebS.svg") format("svg");
  /* Legacy iOS */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.woff") format("woff"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntlMono-Bold/SuisseIntlMono-Bold-WebXL.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Inconstant";
  /* IE9 Compat Modes */
  src: url("../fonts/Inconstant-Regular/Inconstant-Base25.woff2") format("woff2"), url("../fonts/Inconstant-Regular/Inconstant-Base25.woff") format("woff"), url("../fonts/Inconstant-Regular/InconstantVF.ttf") format("truetype");
}
@font-face {
  font-family: "CodeNext";
  src: url("../fonts/Fontfabric-Code-Next-ExtraBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background: transparent;
  opacity: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  color: black;
  background: white;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.deck {
  background: rgb(255, 255, 255);
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png") 39 39, auto;
}

.deck > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconstant";
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.card {
  padding: 5px;
  width: 500px;
  height: 500px;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card__title {
  font-size: 3em;
}
.card__text {
  font-size: 1em;
}
.card__text--intro {
  font-size: 2em;
}
.card .v1 {
  max-width: 250px;
}
.card .v2 {
  float: right;
  text-align: end;
  max-width: 300px;
}
.card .v3 {
  margin-top: 200px;
}
.card .v4 {
  text-align: end;
}
.card .v5 {
  max-width: 250px;
  margin-left: 125px;
}
.card .v6 {
  margin-top: 300px;
  text-align: end;
}

.vertical {
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
}

.horizontal {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
}

.imgTest {
  width: 100%;
  height: auto;
}

.p1 {
  top: -20px;
  left: -300px;
}

.p2 {
  top: -20px;
  right: -300px;
}

.p3 {
  top: 0px;
  right: -330px;
}

.p4 {
  top: -50px;
  left: -350px;
}

.p5 {
  top: 0px;
  left: -300px;
}

.p6 {
  top: 50px;
  right: -300px;
}

.p7 {
  top: -40px;
  left: -250px;
}

.p8 {
  top: 270px;
  right: -270px;
}

.p9 {
  top: -50px;
  right: -250px;
}

.p10 {
  top: 250px;
  right: -350px;
}

.introTextVid {
  position: relative;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SuisseInt";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16vw;
  font-weight: 900;
  letter-spacing: -100px;
  line-height: 300px;
  mix-blend-mode: multiply;
  text-align: start;
}

.page {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  color: #212121;
  pointer-events: none;
}

#nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}

#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #409A89;
  transition: 0.3s;
}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: scroll;
  max-height: calc(100% - 70px);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-101%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
  /* Hide scrollbar for IE, Edge add Firefox */
}
#nav-content::-webkit-scrollbar {
  display: none;
}
#nav-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

#nav-content li a {
  font-family: "SuisseInt";
  padding: 10px 5px;
  display: block;
  transition: color 0.1s;
  text-decoration: none;
  color: #409A89;
}

#nav-content li a:hover {
  color: #040504;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

.menu {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  transition-duration: 1s;
  transition-property: height;
  transition-timing-function: ease-in-out;
}
.menu a {
  text-decoration: none;
  color: inherit;
}
.menu-list {
  list-style: none;
  display: flex;
  gap: 25px;
}
.menu-list .menulink {
  margin-left: 40px;
  display: flex !important;
  align-items: flex-start !important;
  font-size: 18px;
  margin-block: 2px;
  text-decoration: none;
  position: relative;
  padding: 0 0 0 5px;
}
.menu-list .menulink img {
  padding-top: 3px;
  width: auto;
  height: 24px;
}
.menu-list .menulink p {
  margin-left: 10px;
}
.menu-list .menulink::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #040504;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}
.menu-list .menulink:hover::after {
  transform: scaleX(1);
}

.bigger {
  font-size: 22px;
}

.negativeCursor {
  width: 20px;
  height: 20px;
  background: #040504;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 15;
}

.artMB {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "CodeNext";
}
.artMB .text {
  padding: 40px;
}
.artMB .autor {
  font-size: 30px;
  color: #409A89;
}
.artMB .title {
  font-size: 55px;
  line-height: 60px;
}
.artMB .imgMB {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.artMB .imgMB img {
  align-self: center;
  width: auto;
  height: 100%;
}

.introMB {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.introMB .text1 {
  width: 33%;
  height: 100%;
  padding: 80px 80px;
}
.introMB .imgs {
  width: 33%;
  height: 100%;
  align-self: center;
}
.introMB .imgs img {
  position: relative;
  height: 100%;
  width: auto;
  overflow: hidden;
  left: -20px;
}
.introMB .text2 {
  width: 33%;
  height: 100%;
  padding: 80px 50px 0px 120px;
}

.art01 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.art01 .numbTitle {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.art01 .numbTitle img {
  margin: 100px 0;
  width: 90px;
  height: auto;
}
.art01 .numbTitle p {
  font-family: "CodeNext";
  font-size: 45px;
  line-height: 50px;
}
.art01 .imgs {
  width: 30%;
  height: 100%;
  position: relative;
}
.art01 .imgs .img1 {
  position: absolute;
  height: 100%;
  width: auto;
}
.art01 .imgs .img2 {
  position: absolute;
  top: 100px;
  right: -150px;
  height: auto;
  width: 400px;
}
.art01 .text {
  width: 40%;
  height: 100%;
  display: flex;
}
.art01 .text p {
  margin-left: 100px;
  padding: 150px;
}

.art02 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.art02 .numbTitle {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 40px;
}
.art02 .numbTitle img {
  margin: 50px 50px;
  width: 90px;
  height: auto;
  align-self: flex-end;
}
.art02 .numbTitle p {
  font-family: "CodeNext";
  font-size: 45px;
  line-height: 50px;
}
.art02 .imgs {
  width: 30%;
  height: 100%;
  position: relative;
}
.art02 .imgs .img1 {
  position: absolute;
  height: 100%;
  width: auto;
}
.art02 .imgs .img2 {
  position: absolute;
  top: 50px;
  right: -350px;
  height: auto;
  width: 500px;
}
.art02 .text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 50px;
}

.art02 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.art02 .numbTitle {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 40px;
}
.art02 .numbTitle img {
  margin: 50px 50px;
  width: 90px;
  height: auto;
  align-self: flex-end;
}
.art02 .numbTitle p {
  font-family: "CodeNext";
  font-size: 45px;
  line-height: 50px;
}
.art02 .imgs {
  width: 30%;
  height: 100%;
  position: relative;
}
.art02 .imgs .img1 {
  position: absolute;
  height: 100%;
  width: auto;
}
.art02 .imgs .img2 {
  position: absolute;
  top: 50px;
  right: -350px;
  height: auto;
  width: 500px;
}
.art02 .text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 50px;
}

.art03 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.art03 .numbTitle {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.art03 .numbTitle img {
  margin: 50px 50px;
  width: 90px;
  height: auto;
}
.art03 .numbTitle p {
  font-family: "CodeNext";
  font-size: 45px;
  line-height: 50px;
}
.art03 .imgs {
  width: 40%;
  height: 100%;
  position: relative;
}
.art03 .imgs .img1 {
  position: absolute;
  height: 100%;
  width: auto;
}
.art03 .imgs .img2 {
  position: absolute;
  top: 50px;
  height: auto;
  width: 500px;
}
.art03 .text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 50px 200px 50px 50px;
}

.art04 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.art04 .numbTitle {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 40px;
}
.art04 .numbTitle img {
  margin-left: 50px;
  margin-top: 100px;
  width: 90px;
  height: 90px;
}
.art04 .numbTitle p {
  width: 700px;
  font-family: "CodeNext";
  font-size: 45px;
  line-height: 50px;
  margin-left: 50px;
}
.art04 .imgs {
  width: 30%;
  height: 100%;
  position: relative;
}
.art04 .imgs .img1 {
  position: absolute;
  bottom: -200px;
  left: -600px;
  height: 100%;
  width: auto;
  transform: rotate(90deg);
}
.art04 .imgs .img2 {
  position: absolute;
  top: 50px;
  right: -400px;
  height: auto;
  width: 500px;
}
.art04 .imgs .img3 {
  position: absolute;
  bottom: 50px;
  left: -200px;
  height: auto;
  width: 500px;
}
.art04 .text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 285px;
  padding: 50px 200px 50px 50px;
}

.art05 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.art05 .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.art05 .left img {
  margin-left: 50px;
  margin-top: 100px;
  width: 90px;
  height: 90px;
}
.art05 .left .title {
  width: 700px;
  font-family: "CodeNext";
  font-size: 45px;
  line-height: 50px;
  margin-left: 50px;
}
.art05 .imgs {
  width: 50%;
  height: 100%;
  position: relative;
}
.art05 .imgs .img1 {
  position: absolute;
  height: 100%;
  width: 100%;
}
.art05 .imgs .img2 {
  position: absolute;
  height: auto;
  width: 500px;
}

.outroMB {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.outroMB .img {
  width: 50%;
  height: 100%;
}
.outroMB .img img {
  position: relative;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.outroMB .text {
  padding: 60px 60px 60px 120px;
  font-family: "CodeNext";
  font-size: 100px;
  line-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */